<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>
<body>
    <h1>Sign up</h1>
    <form action="/user/create" method="post">
        <input type="text" name="Username" placeholder="Enter the user name" required>
        <input type="password" name="password" placeholder="Enter the password" required>
        <input type="password" name="confirm_password" placeholder="Confirm the password" required>
        <input type="text" name="name" placeholder="Enter your name" required>
        <input type="number" name="age" placeholder="Enter your age" required>
        <input type="date" name="birthdate" placeholder="Enter your birth date" required>
        <button type="submit">Sign up</button>
    </form>

    <!-- The below is showing error but it is not error -->
    <script>
        <%if(flash.success && flash.success.length>0){%>
            new Noty({
                theme:'sunset',
                text:"<%=flash.success%>",
                type:'success',
                layout:'topRight',
                timeout:1500
            }).show();
        <%}%>

        <%if(flash.error && flash.error.length>0){%>
            new Noty({
                theme:'sunset',
                text:"<%=flash.error%>",
                type:'error',
                layout:'topRight',
                timeout:1500
            }).show();
        <%}%>
    </script>
</body>
</html>